@model Game
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<form method="post">

    <label asp-for="Title"></label>
    <input asp-for="Title"/><br/>

    <label asp-for="Publisher"></label>
    <input asp-for="Publisher"/><br/>

    <label asp-for="ReleaseDate"></label>
    <input asp-for="ReleaseDate"/><br/>

    <label asp-for="ImageIconUrl"></label>
    <input asp-for="ImageIconUrl"/><br/>

    <label asp-for="CriticScore"></label>
    <input asp-for="CriticScore"/><br/>

    <label asp-for="PersonalScore"></label>
    <input asp-for="PersonalScore"/><br/>

    <label asp-for="PersonalNotes"></label>
    <input asp-for="PersonalNotes"/><br/>

    <input type="submit" value="submit"/>
</form>
